# Node.js
frontend/node_modules/
frontend/src/assets
frontend/.env
frontend/.env.*
frontend/vite.config.js

# Python
backend/venv/
backend/alembic/
backend/__pycache__/
backend/app/__pycache__/
backend/app/models/__pycache__/
backend/app/routers/__pycache__/
backend/app/services/__pycache__/
backend/app/services/platforms/__pycache__/
backend/.env
backend/.env.*

# Docker volumes
postgres_data/
*.yml
nginx.conf
Dockerfile

# IDE
.vscode/
.idea/